
* {
	margin:0;
	
	box-sizing:border-box;
}
body{
	font-family: 'Lato', sans-serif;
}
.About{
text-align:justify;
	padding:10px;
	font-size:12pt;
	font-weight:light;
	font-family: 'Mukta', sans-serif;
}
.compText{
	color:dodgerblue;
	font-weight:bolder;
}
.cardContainer{
margin-top:100vh;
	background-color: ;
	padding:0;
	display: grid;
	display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   grid-gap:1rem;
   align-items:center;
   justify-items:center;
   text-align:justify;
}
.cards{
	padding: 0px;
	color:black;
	border:solid 1px none ;
	border-radius:10px;
	width:100%;
	background-color: white;
	margin-bottom: 30px;
	font-size:14pt;
	font-family: 'Mukta', sans-serif;
	padding: 15px;
}
.cards img{
	width:100%;
}
.cards h2{
	
	font-weight: light;
	border-bottom: solid 2px dodgerblue;
	
}
	.cards:hover{
		transition:1s;
		background-color: whitesmoke;
	}
h1 span{
	color: #58BFFF;
}
.download{
	background-color: black;
	border-radius:2px;
	margin-bottom: 10px;
	max-width:100%;
	padding:10px;
}
.info{
	padding:10px;
}
.hero{
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.6)),url("https://s1.imghub.io/KIbCX.md.jpg");
	background-position: center;
	background-size:cover;
	overflow-x: hidden;
	position: relative;
}
img{
	border-radius:10px;
}
.slideshow-content{
	border-radius:10px;
}
.mySlides{
	box-shadow:0 0 5px;
	border-radius:10px;
	color:#36454F;
	margin-left:10%;
	margin-right:10%;
}
.nav-bar{
	display: flex;
	padding: 40px 120px;
	z-index:5
}
.nav-bar .fa{
	display: none;
}
.nav-logo .img{
	font-family:helvetica;
	font-weight:light;
	color:deepblue;
}
.nav-links{
	flex:1;
	
}

.nav-links ul{
	margin-left: 50px;
	display:inline;
	padding: 8px 25px;
}
li{
	list-style:none;
}
.nav-links ul li{
	list-style:none;
	display: inline-block;
	
}

.nav-links ul a{
	font-weight: bolder;
	color:white;
	text-decoration: none;
	font-size:30px;
        border:solid 1px dodgerblue;
        background:dodgerblue;
        padding:10px;
}

.nav-links ul li::after{
	content:"";
	width:0;
	height: 2px;
	display:block;
	background-color: #58BFFF;
	margin:auto;
	transition: 0.3s;
}
.nav-links ul li:hover::after{
	width:100%;
}
.btn{
	padding:10px 20px;;
	border:none;
	background-color: #58BFFF;
	font-weight:bold;
	cursor:pointer;
}
.nav-links .btn{
	float:right;
}

.banner-title{
	color:white;
	margin: 80px 130px;
}
.banner-title h1{
	font-size:64px;
	margin-bottom: 30px;
	font-family: "Mulish", sans-serif;
}

.vertical-bar{
	height: 100%;
	background-color: #000;
	top:0;
	left:0;
	position: absolute;
}

.search-icon{
	height:100%;
	width: 80px;
}

.search-icon .fa{
	color:white;
	margin: 45px 23px;
	display:block;
	font-size: 30px;
	cursor: pointer;
}

.social-icons{
	height: 35%;
	width: 80px;
	background-color: dodgerblue;
	text-align:center;
	padding-top: 27%;
	bottom: 0;
	position: absolute;
}
.social-icons .fa{
	margin: 15px 23px;
	display: block;
	padding: 8px;
	border:1px solid black;
	border-radius:50%;
	cursor: pointer;
}

.notifications{
	display: flex;
	width: 100%;
	right:0;
	bottom:0;
	position: absolute;
	align-items:center;
	background-color: #58BFFF;
	
}
.contents{
	flex-basis:50%;
	padding:10px 
}

#scrollContainer{
	 position: absolute;
	padding: 0;
	margin: 0;
	overflow: hidden;
 	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #333 ), color-stop(100%,rgba(30,144,255, .6)));
	background: -webkit-radial-gradient(center, ellipse cover, #333 0%, rgba(30,144,255, .6) 100%);
	/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #333 ), color-stop(100%,black));
	background: -webkit-radial-gradient(center, ellipse cover, #333 0%, black 100%);*/
	
	height: 100%;
	width: 100%;
	
	text-align: center;
 
	font-family: sans-serif;
}
.compText h2{
	font-weight: bold;
	font-size:18pt;
	font-family: Helvetica;
}
#coverflow {
	height: 100%;
	width: 100%;
 background-color: #efefef;
	-webkit-perspective: 600px;
}
#coverflow h2{
	color:;
   position:absolute;
   margin-top: 50px;
   font-weight:bolder;
}
 #coverflow section h1{
 width: 100%;
	 color:white; 
	 background-color: rgba(0,0,0,.4);
	 border:solid 2px white;
	 border-radius:5px;
	 font-size:13pt;
	 margin-top:100px;
	 font-family: 'Mukta', sans-serif;
 }
#coverflow section {
	display: position;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	
	margin-left: -90px;
	margin-top: -90px;
	
	background-color: black;
	bbackground-size: 100%;
	background-size:cover;
	background-repeat:no-repeat;
	
  -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
   
	-webkit-transition: all 700ms ease-in;
	 -moz-transition: all 700ms ease-in;
		-ms-transition: all 700ms ease-in;
		 -o-transition: all 700ms ease-in;
			transition: all 700ms ease-in;
 
	-webkit-box-reflect: below 0
	-webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), to(white)); 
}
 
#controls {
	position: absolute;
	width: 100%;
	bottom: 10%;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #1e9fff;
	font-size: 35px;
}
 
#controls a  {
	color:  dodgerblue; 
	cursor: pointer;
	transition: .5s;
}
 
#controls a:hover  {
	color: white;
	font-size:40px;
}


.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 20pt;
	text-align: center;
	line-height: 550px;
}
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}


.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
 
@media (max-width:880px){

	.hero{
		height:100vh;
	}
	.vertical-bar{
		display:none;
	}
	.banner-title{
		margin:80px 40px;
	}
	  .banner-title h1{
		  font-size: 30px;
		  font-weight:light;
	  }
	 .notifications{
		 width:100%;
	 }
	 .nav-bar{
		 padding: 10px 30px;
	 }

	 .fa-bars{
		 position: absolute;
		 right:20px;
		 top:10px;
		 color:dodgerblue;
	 } 
	 .colChange{
		 color:black;
	 }
	 .nav-bar .fa{
		 display: block;
		 color:dodgerblue;
		 margin:10px 25px;
		 font-size: 22px;
		 cursor:pointer;
	 }
	 .nav-links{
	 	 font-size:20pt;
		 height:100vh;
		 width: 70%;
		 background:white;
		 top:0;
		 right:-70%;
		 position: absolute;
		 text-align:left;
		 z-index: 2;
		 box-shadow: 0px -1px 1px grey;
		
	 }
	 .nav-links ul li a{
		 font-size:15pt;
		 color:dodgerblue;
border:none;
padding:none;
background:none;
	 }
	 .sticky{
	position:fixed;
	top:0;
	color:black;
	width:100%;
	border-bottom:solid 2px dodgerblue;
	background-color: white;
	fbox-shadow: 0 0 8px 	dodgerblue;
	z-index:30;

}
.sticky + #myheader{
	padding-top:62px;
	}
	 
	 .nav-links ul li{
		 display: block;
		 margin-left: 25px;
		 
	 }
	 .nav-links .btn{
		 float:none;
		 margin-top: 10px;
	 }
	 .nav-logo .img{
	font-size:30pt;
	font-weight: lighter;
	color:#005C79;
}	
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
}
	
